<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bs.backend.mapper.DeviceMapper">

    <select id="getDeviceByDid" resultType="bs.backend.model.Device">
        SELECT *
        FROM device
        WHERE did = #{did}
    </select>

    <select id="getDevicesByUid" resultType="bs.backend.model.Device">
        SELECT *
        FROM device
        WHERE uid = #{uid}
    </select>

    <insert id="insertDevice" parameterType="bs.backend.model.Device" useGeneratedKeys="true" keyProperty="did">
        INSERT INTO device (name, type, location, uid)
        VALUES (#{name}, #{type}, #{location}, #{uid})
    </insert>

    <update id="updateDevice" parameterType="bs.backend.model.Device">
        UPDATE device
        SET name     = #{name},
            type     = #{type},
            location = #{location}
        WHERE did = #{did}
    </update>

    <delete id="deleteDeviceByDid" parameterType="Integer">
        DELETE
        FROM device
        WHERE did = #{did}
    </delete>

    <select id="getDeviceCountByUid" parameterType="Integer" resultType="Integer">
        SELECT COUNT(*)
        FROM device
        WHERE uid = #{uid}
    </select>

    <select id="getActiveDeviceCountByUid" parameterType="Integer" resultType="Integer">
        SELECT COUNT(*)
        FROM device
        WHERE uid = #{uid}
          AND status = 0
    </select>

    <update id="updateDeviceStatusByDid" parameterType="Integer">
        UPDATE device
        SET status = #{status}
        WHERE did = #{did}
    </update>

</mapper>